.vs/
/MyShop.API/appsettings.Development.json
/MyShop.API/appsettings.Production.json
/MyShop.API/appsettings.json
/MyShop.File/appsettings.Development.json
/MyShop.File/appsettings.Production.json
/MyShop.File/appsettings.json
/MyShop.File/Files
Video/
Files/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
